.box {
  background-color: rgb(17, 227, 139);
  margin-top: 0%;
}
header {
  background-color: rgb(242, 204, 17);
  margin: 0 auto;
  /* margin-top: 20%; */
  text-align: center;
}
header.h1 {
  font-size: larger;
}
header.h2 {
  font-size: small;
}
body {
  margin-top: 0%;
}
#h3 {
  text-align: center;
}
.image {
  margin-left: 300px;
}
p {
  font-size: 20px;
}
